.title {
  margin: 0;
}

.content {
  margin: 0.25rem 0 1rem 0.5rem;
  color: hsl(0, 0%, 25%);

  margin-left: 0.5rem;
  padding-left: 1rem;
  border-left: 0.2rem solid hsl(0, 0%, 95%);

  > :not(:last-child) {
    margin-bottom: 0.75rem;
  }
}
