.index__title {
  font-size: 7vw;
  margin: 0 -100vw;
  text-align: center;
  margin-top: -10rem;
  margin-bottom: 10rem;
}

.index__project-list {
  text-align: center;

  li {
    &::marker {
      content: '';
    }

    margin: 0.5rem 0;
  }
}

.index__highlight {
  color: var(--color-primary);
  background-color: transparent;
}

.index__section {
  margin: 15rem 0;

  p {
    margin: 2rem 0;
  }
}

.index__post-preview {
  li {
    margin: 1.5rem 0;

    div {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      font-size: 0.8rem;

      > :not(:first-child) {
        padding-left: 1rem;
      }
    }

    h2 {
      font-size: 1.5rem;
      margin: 0;
    }

    p {
      padding-top: 0.2rem;
      padding-left: 1rem;
      color: var(--color-100);
      margin: 0;
    }
  }
}
