@import '../mixins/pad.scss';

.linkSection {
  align-items: center;
  margin-top: 6rem;

  @include padBorder($size: 10rem, $max-width: 87.5vw);
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;

  li:not(:last-child) {
    margin-bottom: 1rem;
  }
}
