body {
  background-image: none;
  background-color: white;
  color: black;
}

:root {
  --color-primary: black;
  --color-secondary: black;
}

a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.resume__header {
  margin-bottom: 5rem;
  text-align: center;

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .resume__contact {
    font-size: 0.8rem;
  }

  hr {
    max-width: 50%;
  }
}

.resume__nav {
  text-align: center;
  font-size: 1rem;
  margin-top: -2rem;
  margin-bottom: 2rem;

  @media print {
    display: none;
  }
}

.resume__layout-title {
  font-size: 1.5rem;
  text-align: center;
  margin: 5rem 0 2rem 0;
}

.resume__layout {
  margin: 4rem 0;
}

.resume__about {
  p:not(:first-child) {
    margin-top: 1rem;
  }
}

.resume__education {
 
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media (max-width: 768px) {
      flex-direction: column;

      li:not(:first-child) {
        margin-top: 2rem;
      }
    }

    li {
      text-align: center;
      max-width: 24rem;

      .title,
      h6 {
        font-weight: bold;
      }
    }
  }
}

.resume__experience {
  ul {
    li {
      display: flex;
      flex-direction: row;
      break-inside: avoid;

      .experience__title {
        width: 15%;
        margin-top: 1rem;
        margin-right: 1rem;
        font-weight: bold;
        text-align: right;

        small {
          font-weight: normal;
        }
      }

      .experience__about {
        width: 85%;
        text-align: justify;

        h6 {
          font-weight: bold;
          margin-bottom: 1rem;
          font-size: 1.1rem;
        }

        p:not(:first-child) {
          margin-top: 1rem;
        }
      }

      &:not(:first-child) {
        margin-top: 2rem;
      }
    }
  }
}
