@import '../variables.scss';

.main {
  width: 100%;
  text-align: start;

  max-width: min(55rem, 80vw);

  a {
    color: black;
  }

  @media print {
    font-family: Arial;

    // Some android devices print the page with transparent background
    background-color: white;
  }
}


.title {
  margin-bottom: 0.125rem;
}

.icon {
  transition: all 0.1s ease-in-out;

  &:not(:first-child) {
    margin-left: 1rem;
  }

  &:hover {
    cursor: pointer;
    color: hsla(0, 0%, 60%);
  }
}

.subtitle {
  display: block;

  margin-bottom: 1.5rem;

  font-style: italic;
  font-family: $font-family-title;

  color: hsla(0, 0%, 10%);
}

.refList {
  margin-top: 1rem;

  ul {
    margin: 0;
    list-style: none;
    padding-left: 0;

    li {
      margin: 0;
    }
  }
}

.contact {
  margin: 0;
}

.workList {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.work {
  font-family: $font-family-title;

  time {
    font-size: 0.9rem;
    color: hsla(0, 0%, 25%);
  }
}

.section {
  margin-bottom: 0 !important;

  & > *:not(h1, h2, h3, h4, h5, h6) {
    margin-left: 0.5rem;
  }

  h2 {
    margin-top: 3rem;
  }
}
