.footer {
  opacity: 90%;
  width: 100%;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    margin: 0 1rem;
  }
}

@media print {
  .footer {
    display: none;
  }
}
