.footer {
  margin-top: 3rem;
  
  opacity: 90%;
  width: 100%;
  border-radius: 0.5rem;
}

.list {
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    margin: 0 1rem;

    a {
      color: black;
    }
  }
}

@media print {
  .footer {
    display: none;
  }
}
