@import '../../variables.scss';
@import '../../mixins/pad.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;

  @include padBorder($size: 15rem, $max-width: 87.5vw);
}

.logo {
  font-family: $font-family-title;
  font-size: 1.4rem;

  &,
  * {
    color: black;

    &:hover {
      text-decoration: none;
      text-shadow: 0 0 2.25rem black;
    }
  }
}

@media print {
  .header {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav {
    margin-top: 0.5rem;
  }
}

@media (max-width: 670px) {
  .header {
    flex-direction: column;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 0;
  list-style: none;

  & > * {
    color: black;
    display: inline-block;
    margin: 0 1rem;

    &:hover {
      text-decoration: none;
      text-shadow: 0 0 2.25rem hsla(0, 0%, 0%, 0.75);
    }
  }
}
