@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    "Work Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji", "Twemoji Country Flags";
  --font-display:
    "Poppins", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji", "Twemoji Country Flags";
  --color-cream-light: #f0dbb2;
  --color-cream-medium: #e9d19f;
}

@layer base {
  body {
    font-family: var(--font-sans);
    line-height: 1.65;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-display);
    text-wrap: balance;
    line-height: 1.15;
  }

  p {
    text-wrap: pretty;
  }
}
