@import '../variables.scss';

.list {
  padding-left: 0;
  list-style: none;

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}

.item {
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  background-color: hsla(0, 0%, 0%, 10%);

  text-transform: uppercase;
  font-style: normal;
  font-family: $font-family-title;
}
