.section {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.code {
  font-size: 5rem;
}

.title {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.back {
  margin-top: 2rem;

}