.footer {
  font-size: 0.9rem;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: 1 / span 2;
}

.link {
  text-transform: lowercase;
  
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 800px) {
  .footer {
    grid-column: 1;
  }
}
