@import '../variables.scss';

.footer {
  opacity: 90%;
  font-size: $font-title;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    margin: 0 1rem;
  }
}
