/* width */
::-webkit-scrollbar {
  position: absolute;
  width: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-500);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
