.section {
  &:not(:nth-child(1)) {
    margin-top: 4rem;
  }
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;

  &[id]:hover {
    cursor: pointer;
  }
}

.paragraph {
  line-height: 1.7rem;
  font-size: 1.25rem;
  word-break: normal;
  margin: 1.5rem 0 1rem 0;
}
