---
import MainNav from '../components/main-nav.astro';
import PostCard from '../components/post-card.astro';
import Section from '../components/section.astro';
import Document from '../layouts/document.astro';
import { posts } from '../util/posts/get-posts';
---

<Document header={false}>
  <Section class='flex items-start gap-5'>
    {
      !!posts.length && (
        <ol class='!p-0 !m-0 list-none w-full'>
          {posts.map((post) => (
            <li class='transition-all hover:bg-neutral-800/70 border border-neutral-800/70 hover:border-neutral-600 p-4 rounded-lg w-full block'>
              <PostCard minimalistic data={post} />
            </li>
          ))}
        </ol>
      )
    }
    <MainNav />
  </Section>
</Document>
