---
const year = new Date().getFullYear();
---

<footer class="footer m-0 mt-8 pb-8">
  <span class="text-center text-sm font-normal text-neutral-400">
    Arthur Fiorette © {year}
  </span>
</footer>
