---

---

<header>
  <a href='/' title="Arthur's place">Arthur's Place</a>
</header>

<style lang='scss'>
  header {
    padding-top: 2rem;
    margin: 0;
    margin-bottom: auto;
    font-size: 1.4rem;
  }
</style>
