---
import { Icon } from 'astro-icon/components';
import { NavLinks } from '../util/link/nav-links';

interface Props {
  class?: string;
}
---

<aside
  class:list={[
    'sticky max-[1000px]:fixed max-[1000px]:top-0 max-[1000px]:left-0 max-[1000px]:flex-row max-[1000px]:rounded-none max-[1000px]:w-full max-[1000px]:bg-neutral-900 max-[1000px]:gap-6 left-4 top-60 flex flex-col gap-1.5 justify-center items-center w-auto bg-transparent max-h-40 py-2 px-1.5 rounded-md border border-neutral-600/40',
    Astro.props.class
  ]}>
  {
    NavLinks.map((navLink) => (
      <a
        href={navLink.href}
        title={navLink.title}
        class='group relative transition-all flex items-center justify-center p-2 rounded-md hover:bg-neutral-800 border border-transparent hover:border-neutral-600'>
        <Icon
          name={navLink.icon}
          class='transition-all !w-6 !h-6 group-hover:text-cream-light'
        />
        <span class='!text-sm !font-normal transition-all opacity-0 group-hover:opacity-100 max-[1000px]:translate-x-0 max-[1000px]:-translate-y-12 max-[1000px]:group-hover:translate-y-0 group-hover:translate-x-0 -translate-x-12 absolute max-[1000px]:left-0 max-[1000px]:top-full max-[1000px]:ml-0 max-[1000px]:mt-2.5 left-full ml-2 .5 px-3.5 py-0.5 rounded-sm bg-neutral-900  border border-neutral-600'>
          {navLink.label}
        </span>
      </a>
    ))
  }
</aside>
