---
interface Props {
  class?: string;
  id?: string;
}

const { class: className, ...attrs } = Astro.props;
---

<section
  {...attrs}
  class:list={[
    'items-center w-full max-w-3xl space-y-6',
    className
  ]}>
  <slot />
</section>
