$max-width: min(60rem, 87.5vw);

.title {
  margin-top: 4rem;
  font-size: 3rem;
  text-align: center;
}

.description {
  font-size: 1.25rem;
  margin: 2rem 0 4rem 0;
  text-align: center;
}

.subtitle {
  font-size: 1rem;
  text-align: center;
  padding-right: 4rem;

  > div {
    text-align: end;
    margin: 0 1rem;
  }
}

.headerAnchor {
  &::after {
    content: '🔗';

    font-size: 1.25rem;
    margin-right: 0.5rem;
    display: inline-block;
    opacity: 30%;
  }
}

.content {
  // A little higher than the default (43rem)
  max-width: min(55rem, 87.5vw);

  pre > code {
    padding: 1rem;
    margin: 2rem 0;
    overflow-x: auto;

    color: #abb2bf;
    background: #282c34;
    box-shadow: 0 0 0.5rem #282c34;
  }

  blockquote,
  code,
  pre > code {
    display: block;
    border-radius: 0.3rem;
  }

  blockquote {
    margin-left: 0;
    padding: 0.2rem 0;
    padding-left: 1rem;

    background-color: hsl(0, 0%, 98%);
  }
}
