@import '../../variables.scss';

.preview {
  color: black;

  &:hover {
    cursor: auto;
  }
}

.title {
  margin-bottom: 0.5rem;

  &:hover {
    cursor: pointer;
  }
}

.description {
  text-align: justify;
  color: hsl(0, 0%, 30%);
}

.meta {
  font-style: italic;
  color: hsl(0, 0%, 40%);

  font-size: 0.8rem;
  // margin-bottom: 0.5rem;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  > *:not(:last-child) {
    margin-right: 1rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.keywords {
  color: black;
  font-size: 0.7rem;
  margin-left: auto;

  @media (max-width: 768px) {
    margin-left: 0;
    margin-right: auto;
    text-align: center;
  }
}
