---
import Seo, { type Props as SeoProps } from '../components/seo.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';

import '../styles/index.scss';

interface Props {
  header?: boolean;
  seo?: SeoProps;
}

const { header = true, seo } = Astro.props;

const ldJson = JSON.stringify({
  '@context': 'http://www.schema.org',
  '@type': 'person',
  name: 'Arthur Fileti Fiorette',
  jobTitle: 'Web Developer',
  gender: 'male',
  url: 'https://arthur.place',
  address: {
    '@type': 'PostalAddress',
    addressLocality: 'Venda Nova do Imigrante',
    addressRegion: 'Espírito Santo (ES)',
    addressCountry: 'Brazil'
  },
  email: 'arthur.fiorette@gmail.com',
  birthDate: '2005-02-27',
  nationality: 'Brazilian',
  telephone: '+5528999772770'
});
---

<html lang='en'>
  <head>
    <!-- Simple meta -->
    <meta name='theme-color' content='#000000' />
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1, viewport-fit=cover'
    />

    <!-- General SEO -->
    <script type='application/ld+json' set:html={ldJson} />
    <link rel='manifest' href='/manifest.json' />
    <meta name='robots' content='index, follow' />

    <!-- Public metrics available at plausible.io/arthur.place -->
    <script defer data-domain='arthur.place' src='https://plausible.io/js/script.js'
    ></script>

    <!-- Icons -->
    <link rel='apple-touch-icon' sizes='180x180' href='/icons/apple-touch-icon.png' />
    <link rel='icon' type='image/png' sizes='32x32' href='/icons/favicon-32x32.png' />
    <link
      rel='shortcut icon'
      type='image/png'
      sizes='32x32'
      href='/icons/favicon-32x32.png'
    />
    <link rel='icon' type='image/png' sizes='16x16' href='/icons/favicon-16x16.png' />
    <link
      rel='shortcut icon'
      type='image/png'
      sizes='16x16'
      href='/icons/favicon-16x16.png'
    />

    {/* font */}
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin='' />

    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Work+Sans:wght@300;500&display=swap'
      rel='stylesheet'
    />

    <Seo {...seo} />

    <slot name='head' />

    <style lang='scss'>
      main {
        margin: auto 0;
      }

      body {
        @media (max-width: 920px) {
          overflow-x: hidden !important;
        }
      }
    </style>
  </head>

  <body>
    {header && <Header />}

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
