:root {
  --color-50: white;
  --color-100: #d3dedf;
  --color-200: #7a7a7a;
  --color-300: #696969;
  --color-400: #575757;
  --color-500: #464646;
  --color-600: #343434;
  --color-700: #232323;
  --color-800: #111111;
  --color-900: black;
  --color-primary: #f6d2c5;
  --color-secondary: #eab2a0;

  --text-color: var(--color-50);
  --link-color: var(--color-secondary);
  --shade-color: hsla(0, 0%, 0%, 0.2);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-50: black;
    --color-100: #111111;
    --color-200: #232323;
    --color-300: #343434;
    --color-400: #464646;
    --color-500: #575757;
    --color-600: #696969;
    --color-700: #7a7a7a;
    --color-800: #d3dedf;
    --color-900: white;
    --color-primary: #183d3d;
    --color-secondary: #03c988;
  }
}
