@import './reset.scss';

html,
body {
  font-size: 16px;
  font-family: 'Zen Kaku Gothic Antique', 'Gill Sans', 'Gill Sans MT', Calibri,
    'Trebuchet MS', sans-serif;
  height: 100%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a.link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@media (min-width: 1440px) {
  html,
  body {
    max-width: 1440px;
  }
}
