// Syntax highlighting
@import 'highlight.js/scss/atom-one-light.scss';

@import './reset.scss';
@import './variables.scss';

#__next {
  font-family: $font-family-def;
  font-size: 16px;

  width: 100%;

  margin: 2rem auto;
  max-width: $max-width-def;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.hljs-focus-unfocused {
  &,
  * {
    color: rgba(0, 0, 0, 0.5) !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-title;
}

