@import 'colors';
@import 'global';

@import 'components/header';
@import 'components/footer';
@import 'components/main';
@import 'components/project-stars';
@import 'components/scroll-bar.scss';

.badge-list {
  margin-left: auto !important;

  li {
    display: inline-block;
    margin: 0 0.5rem;
    color: var(--link-color);

    padding: 0.25rem;
    border-radius: 0.25rem;

    font-weight: bold;
    text-transform: capitalize;
  }
}
