html,
body {
  margin: 0;
  padding: 0;

  line-height: 1.6rem;

  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  color: hsl(210, 100%, 36%);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active,
  &:hover {
    outline-width: 0;
  }
}

li {
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  font-weight: 500;

  &:first-child {
    margin-top: 0;
  }
}
